*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    width:18%;
    height:100vh;
    float: left;
    background:rgb(236, 236, 233);
    padding: 10px;

}
.list_page{
    width:81%;
    float: left;
    height: 100vh;
    background: rgb(185, 182, 182);
    padding-left: 2%;
    padding-top: 5%
}
.menu_header{
    font-size: 23px;
    color: rgb(100, 95, 95);
    font-weight: 500;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu_list{
    font-size: 17px;
    color:black;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    margin:15px;
    list-style-type: none;
    margin-left:0;
}
.list_page_header{
    width: 100%;
    height:60px;
    background:rgb(241, 241, 236);
    display: flex;
    padding-left:18px;
    padding-top:12px;
}
h1{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button{
    margin-left:200px;
    margin-top:7px;
}
button{
    padding:5px;
    color: rgb(255, 255, 255);
    border-radius:4px;
    border: none;
    font-weight: 600;
}

#myDIV{
    display: flex;
    list-style-type: none;
}
.moswavle , .average, .days{
    padding:10px;
    border: 2px solid black;
    list-style-type: none;
    height: 45px;
}
.number{
    padding-left:25px;
}
 